{% extends '_base.html'%}

{% block title %}
    {{ post.title }}
{% endblock %}


{% block header %}
{% endblock %}


{% block content %}

    
    <!-- Page Header-->
  <!--   <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Man must explore, and this is exploration at its greatest</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on August 24, 2022
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header> -->
    <!-- Post Content-->

    <div class="container mt-lg-4 pt-lg-5 pt-5">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ post.title_image.url }}" width="100%" alt="">
            </div>
        </div>
    </div>

    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>
                        {{ post.content }}
                    </p>
                </div>
            </div>
        </div>
    </article>
    
{% endblock %}