{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container py-5" style="max-width: 500px;">
    <form class="shadow bg-white px-4 px-md-5 py-5" method="POST" action="." enctype="multipart/form-data">
            <h3>Fill form to get new password.</h3>
            <hr>
            {% csrf_token %}
            {{ form | crispy }}
            <p class="py-2">
                <button class="btn btn-primary">Generate Password</button>
            </p>
    </form>
</div>
{% endblock %}