{% extends '_base.html' %}
{% block title %}Admin {% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="pt-lg-5 pt-5 mt-lg-5 mt-5 "></div>

    <h1>Executives</h1>
    <div class="row mb-3">
        <div class="col-md-3">
            <a class="btn btn-sm btn-info" href="{% url 'services:add_executive' %}">
                Add Executives
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-sm btn-info" href="{% url 'services:add_yeargroup' %}">
                Add Year Group
            </a>
        </div>
    </div>
    {% for yeargroup in yeargroups %}
    <div class="text-center">
        <h3> {{ yeargroup }} Executives </h3>
        <div class="row mb-5 py-5">
            {% for executive in yeargroup.executives.all %}
            <div class="col-md-3">
                <img src="{{ executive.profile_pic.url }}" class="rounded-circle shadow-4"
                    style="width: 120px; height: 120px;" alt="Avatar" />
                <!--  <img src="{{ executive.profile_pic.url }}" alt="" width="50" height="50"> -->
                <p>{{ executive.name }} <br> <span class="text-primary text-bolder">{{ executive.position }}</span> <br>
                    <span>( {{ executive.phone_number }} )</span>
                </p>

            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}